deck-page{
    display: block;
    width: 100%;

    .deck{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
        gap: 2rem;
        padding: 2.25rem 2rem 2rem;

        .card{
            img{
                width: 100%;
                display: block;
            }
        }
    }

    card-shell{
        aspect-ratio: 12/17;
        border: 1px solid var(--grey-300);
        border-radius: 0.5rem !important;
        background-color: var(--white);
        display: block;
        width: 100%;

        &::after{
            width: calc(100% - 1rem) !important;
            height: calc(100% - 1rem) !important;
            left: 0.5rem !important;
            top: 0.5rem !important;
            border-radius: 0.25rem;
        }
    }
}
