<div class="play">
    <a class="game" href="https://store.steampowered.com/app/286160/Tabletop_Simulator/">
        <img src="/static/tabletop-simulator.jpg">
        <div class="flex-1">
            <span class="font-xl font-white font-medium mb-0.25">Tabletop Simulator</span>
            <span class="line-snug">Playtest your decks on Tabletop Simulator using our custom scripted game modes.</span>
        </div>
    </a>
    <div class="grid w-full mt-2">
        <a class="mod" href="https://steamcommunity.com/sharedfiles/filedetails/?id=3303586547">
            <img src="/static/4-player.jpg">
            <div class="flex-1">
                <span class="font-lg font-grey-100 font-medium mb-0.25">4 Players</span>
                <span class="font-sm line-snug">Play with up to 4 of your friends.</span>
            </div>
        </a>
        <a class="mod" href="#">
            <div class="placeholder">
                <span>Coming soon</span>
            </div>
            <div class="flex-1">
                <span class="font-lg font-grey-100 font-medium mb-0.25">6 Players</span>
                <span class="font-sm line-snug">Play with up to 6 of your friends.</span>
            </div>
        </a>
    </div>
</div>

