deck-card{
    height: 48px;
    display: flex;
    width: 100%;
    padding: 0 0.5rem;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: grab;

    &:hover,
    &:focus-within{
        .actions{
            button-component{
                opacity: 1;
                visibility: visible;
            }
        }

        img{
            filter: brightness(0.1);
        }

        .name{
            opacity: 0;
            visibility: hidden;
        }
    }

    .actions{
        transform: translateX(0px);
        position: absolute;
        right: 0;
        height: 100%;
        padding: 0 1rem 0 0.5rem;

        button-component{
            opacity: 0;
            visibility: hidden;
            transition: opacity 150ms var(--ease-in-out);
        }
    }

    span{
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name {
        opacity: 1;
        visibility: visible;
        transition: opacity 150ms var(--ease-in-out);
    }

    img{
        position: absolute;
        top: 0;
        width: calc(100% + 60px);
        left: 50%;
        transform: translate(-50%, -56px);
        user-select: none;
        filter: brightness(0.3);
        transition: filter 150ms var(--ease-in-out);
    }
}
