deck-component{
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--grey-300);
    height: calc(100vh - 211px - 4rem);
    overflow-y: auto;
    display: inline-block;
    position: sticky;
    top: 2rem;
    transition: all 150ms var(--ease-in-out);

    &.has-hover{
        border-color: var(--primary-400);
        box-shadow: 0 0 0 8px var(--primary-100);
        background-color: var(--primary-50);
    }

    .placeholder{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
