{{ range .Cards }}
    {{ if not .InSideboard }}
        <div 
            class="card {{ if not .IsLegal }}is-illegal{{ end }}"
            x-data="{ flip: false }"
            :class="{ 'flipped': flip }"
        >
            <div class="container" id="card-{{ .CardId }}">
                {{ template "partials/deck-manager/card-image" . }}
            </div>
            <div class="w-full mt-0.5" flex="row nowrap items-center justify-between">
                {{ if .IsLegal }}
                    <span 
                        class="ml-0.25 px-0.5 inline-block font-xs font-green-400"
                        style="background-color:hsl(var(--green-400-hsl)/0.05);height:24px;line-height:24px;border-radius:12px;"
                        x-data="{ price: {{ .Price }}, qty: {{ .Qty }}, display: '' }"
                        x-on:qty-update.window="if ($event.detail.id == '{{ .CardId }}') qty = $event.detail.qty"
                        x-text="new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format((price * qty) / 100)"
                    >${{ .FmtPrice }}</span>
                {{ else }}
                    <span
                        class="ml-0.25 px-0.75 inline-block font-xs font-red-400"
                        style="background-color:hsl(var(--red-400-hsl)/0.05);height:24px;line-height:24px;border-radius:12px;"
                    >Illegal</span>
                {{ end }}
                <div class="actions">
                    <button
                        x-data=""
                        x-on:click="$dispatch('card-print-modal', { cardId: '{{ .CardId }}' });"
                        tooltip="Change print"
                    >
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M12 21h-6a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l3 3" /><path d="M14 14l1 -1c.48 -.461 1.016 -.684 1.551 -.67" /><path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19.001 15.5v1.5" /><path d="M19.001 21v1.5" /><path d="M22.032 17.25l-1.299 .75" /><path d="M17.27 20l-1.3 .75" /><path d="M15.97 17.25l1.3 .75" /><path d="M20.733 20l1.3 .75" /></svg>
                    </button>
                    <button
                        tooltip="Send to sideboard"
                        hx-put="/decks/{{ .DeckId }}/sideboard/{{ .CardId }}"
                        hx-target="closest .card"
                        hx-swap="delete"
                    >
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M18 13l-6 6" /><path d="M6 13l6 6" /></svg> 
                    </button>
                    {{ if eq .Gamemode "oathbreaker" }}
                        <button 
                            class="-commander"
                            :class="active ? 'active' : ''"
                            :aria-label="active ? 'Unset oathbreaker spell' : 'Set othbreaker spell'" 
                            tooltip
                            x-data="{ active: {{ .IsOathbreaker }} }"
                            x-on:click="$data.active = !$data.active;$dispatch('oathbreaker', { id: '{{ .CardId }}' });" x-on:oathbreaker.window="if ($event.detail.id != '{{ .CardId }}') $data.active = false;"
                            hx-post="/decks/{{ .DeckId }}/oathbreaker/{{ .CardId }}"
                            hx-swap="none"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512"><path d="M528 304H480v-192C480 67.89 444.1 32 400 32h-320C35.89 32 0 67.89 0 112V160c0 26.51 21.49 48 48 48h32V160h-32V112c0-17.62 14.38-32 32-32s32 14.38 32 32v288c0 44.11 35.89 80 80 80h266.6C523.3 480 576 427.3 576 362.6V352C576 325.5 554.5 304 528 304zM224 336v64c0 17.62-14.38 32-32 32s-32-14.38-32-32V256h48C216.8 256 224 248.8 224 240S216.8 224 208 224H160L160 112c0-11.39-2.473-22.18-6.781-32H400c17.6 0 32 14.4 32 32V128h-32C391.2 128 384 135.2 384 144S391.2 160 400 160h32v64h-32C391.2 224 384 231.2 384 240S391.2 256 400 256h32v48H256C238.3 304 224 318.3 224 336zM528 362.6C528 400.9 496.9 432 458.6 432H265.2C269.5 422.2 272 411.4 272 400V352h96v32c0 8.844 7.156 16 16 16s16-7.156 16-16v-32h128V362.6z"/></svg>
                        </button>
                    {{ end }}
                    {{ if or (eq .Gamemode "commander") (eq .Gamemode "oathbreaker") (eq .Gamemode "paupercommander") (eq .Gamemode "predh") }}
                        <button 
                            class="-commander"
                            :class="active ? 'active' : ''"
                            :aria-label="active ? 'Unset commander' : 'Set commander'" 
                            tooltip
                            x-data="{ active: {{ .IsCommander }} }"
                            x-on:click="$data.active = !$data.active;$dispatch('commander', { id: '{{ .CardId }}' });"
                            x-on:commander.window="if ($event.detail.id != '{{ .CardId }}') $data.active = false;"
                            hx-post="/decks/{{ .DeckId }}/commander/{{ .CardId }}"
                            hx-swap="none"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512"><path d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"/></svg>
                        </button>
                    {{ end }}
                    <input 
                        type="number"
                        min="1"
                        value="{{ .Qty }}"
                        hx-patch="/decks/{{ .DeckId }}/cards/{{ .CardId }}"
                        hx-swap="none"
                        hx-trigger="keyup delay:500ms"
                        name="qty"
                        class="mr-0.5"
                        x-data=""
                        x-on:keyup.debounce.500ms="$dispatch('qty-update', { id: '{{ .CardId }}', qty: parseInt($el.value) })"
                    >
                    <button
                        class="-delete"
                        aria-label="Delete card"
                        tooltip
                        hx-delete="/decks/{{ .DeckId }}/cards/{{ .CardId }}"
                        hx-swap="delete"
                        hx-target="closest .card"
                        hx-confirm="Are you sure you want to remove {{ .Name }}?"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 7h16"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                            <path d="M10 12l4 4m0 -4l-4 4"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
