{{ range .Cards }}
    {{ if .InSideboard }}
        <div 
            class="card"
            x-data="{ flip: false }"
            :class="{ 'flipped': flip }"
        >
            <div class="container">
                <img 
                    src="{{ .Front }}" 
                    onload="this.style.opacity = '1'"
                    width="200"
                    loading="lazy"
                    draggable="false"
                >
                {{ if ne .Back "" }}
                    <img 
                        src="{{ .Back }}" 
                        width="200"
                        loading="lazy"
                        draggable="false"
                    >
                    <button x-on:click="$data.flip = !$data.flip;$event.stopImmediatePropagation();">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                        </svg>
                    </button>
                {{ end }}
            </div>
            <div class="actions">
                <input 
                    type="number"
                    min="1"
                    value="{{ .Qty }}"
                    hx-patch="/decks/{{ .DeckId }}/cards/{{ .CardId }}"
                    hx-swap="none"
                    hx-trigger="keyup delay:500ms"
                    name="qty"
                    class="mr-0.5"
                >
                <button
                    class="-delete"
                    aria-label="Delete card"
                    tooltip
                    hx-delete="/decks/{{ .DeckId }}/cards/{{ .CardId }}"
                    hx-swap="delete"
                    hx-target="closest .card"
                    hx-confirm="Are you sure you want to remove {{ .Name }}?"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 7h16"></path>
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        <path d="M10 12l4 4m0 -4l-4 4"></path>
                    </svg>
                </button>
            </div>
        </div>
    {{ end }}
{{ end }}
