<input 
    class="card-browser-search"
    type="text"
    name="search"
    placeholder="Search cards..."
    hx-post="/partials/card-browser"
    hx-trigger="keyup changed delay:1000ms, search"
    hx-target="main"
    hx-swap="innerHTML"
    value="{{ .SearchRaw }}"
    autocomplete="off"
>
{{ template "partials/card-browser/page-input" . }}
<div class="card-browser">
    {{ template "partials/card-browser/card-grid" . }}
</div>
<div 
    class="block w-full"
    style="height:1rem;"
    style="height:3rem;"
    hx-get="/partials/card-browser"
    hx-trigger="intersect throttle:1000ms"
    hx-target=".card-browser"
    hx-swap="beforeend"
    hx-include="[name='search'], [name='page']"
></div>
