{{ template "partials/deck-header" . }}
<deck-manager>
    <div class="subnav">
        <div class="filters" flex="row nowrap items-center">
            <div class="input mr-1.5">
                <input 
                    name="search"
                    type="text" 
                    placeholder="Search cards..." 
                    autocomplete="off" 
                    hx-get="/partials/deck-manager/card-grid/{{ .ActiveDeckId }}"
                    hx-trigger="keyup changed delay:500ms"
                    hx-target="card-grid"
                    hx-include=".filters"
                    value="{{ .Search }}"
                >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                </svg>
            </div>
            <div class="select mr-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 6l9 0"></path>
                    <path d="M4 12l7 0"></path>
                    <path d="M4 18l7 0"></path>
                    <path d="M15 15l3 3l3 -3"></path>
                    <path d="M18 6l0 12"></path>
                </svg>
                <select 
                    name="sort"
                    hx-get="/partials/deck-manager/card-grid/{{ .ActiveDeckId }}"
                    hx-trigger="change"
                    hx-target="card-grid"
                    hx-include=".filters"
                >
                    <option {{ if eq .Sort "name" }}selected{{ end }} value="name">Name</option>
                    <option {{ if eq .Sort "tmc" }}selected{{ end }} value="tmc">Total Mana Cost</option>
                    <option {{ if eq .Sort "power" }}selected{{ end }} value="power">Power</option>
                    <option {{ if eq .Sort "toughness" }}selected{{ end }} value="toughness">Toughness</option>
                </select>
            </div>
            <div class="select">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 6l9 0"></path>
                    <path d="M4 12l7 0"></path>
                    <path d="M4 18l7 0"></path>
                    <path d="M15 15l3 3l3 -3"></path>
                    <path d="M18 6l0 12"></path>
                </svg>
                <select 
                    name="filter"
                    hx-get="/partials/deck-manager/card-grid/{{ .ActiveDeckId }}"
                    hx-trigger="change"
                    hx-target="card-grid"
                    hx-include=".filters"
                >
                    <option {{ if eq .Filter "none" }}selected{{ end }} value="none">No Filters</option>
                    <option {{ if eq .Filter "creatures" }}selected{{ end }} value="creatures">Creatures</option>
                    <option {{ if eq .Filter "enchantments" }}selected{{ end }} value="enchantments">Enchantments</option>
                    <option {{ if eq .Filter "instants" }}selected{{ end }} value="instants">Instants</option>
                    <option {{ if eq .Filter "sorceries" }}selected{{ end }} value="sorceries">Sorceries</option>
                    <option {{ if eq .Filter "artifacts" }}selected{{ end }} value="artifacts">Artifacts</option>
                    <option {{ if eq .Filter "lands" }}selected{{ end }} value="lands">Lands</option>
                </select>
            </div>
        </div>
        <div class="actions">
            <a href="/decks/{{ .ActiveDeckId }}/edit" class="mr-0.5 bttn -yellow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                    <path d="M16 5l3 3"></path>
                </svg>
                <span>Edit Deck</span>
            </a>
            <button class="bttn -green mr-0.5" x-on:click="$dispatch('quick-add-modal');" x-data>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11"></path>
                </svg>
                <span>Quick Add</span>
            </button>
        </div>
    </div>
    <card-grid
        hx-get="/partials/deck-manager/card-grid/{{ .ActiveDeckId }}"
        hx-trigger="addedCard from:body"
        hx-include=".filters"
    >
        {{ template "partials/deck-manager/card-grid" . }}
    </card-grid>
    <h3 class="mx-3 mt-2 pb-1 border-b-solid border-b-1 border-b-grey-700 font-md">Sideboard</h3>
    <card-grid
        hx-get="/partials/deck-manager/sideboard-card-grid/{{ .ActiveDeckId }}"
        hx-trigger="sideboardUpdated from:body"
        hx-include=".filters"
    >
        {{ template "partials/deck-manager/sideboard-card-grid" . }}
    </card-grid>
</deck-manager>
<div 
    class="modal"
    x-data="{ open: false, searched: false }"
    x-show="open"
    x-on:quick-add-modal.window="$data.open = true"
    x-on:close-quick-add-modal.window="$data.open = false"
>
    <div class="modal-backdrop" x-on:click="$data.open = false"></div>
    <div class="content quick-add">
        <div class="input mr-1.5">
            <input 
                name="quick-search"
                type="text" 
                placeholder="Search cards..." 
                autocomplete="off" 
                hx-get="/partials/deck-manager/{{ .ActiveDeckId }}/quick-grid"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#quick-card-search"
                hx-swap="outerHTML"
                x-on:keyup.debounce.500ms="$data.searched = true"
            >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
            </svg>
        </div>
        <div id="quick-card-search" class="cards-placeholder">
            <span class="font-grey-500 text-center font-sm">Begin searching to find cards.</span>
        </div>
        <p x-show="searched" class="mt-0.5 font-grey-500 font-sm text-center">Not finding what you're looking for? Try using the <a class="font-blue-400" href="/decks/{{ .ActiveDeckId }}/edit">deck editor</a>.</p>
    </div>
</div>
<div 
    class="modal"
    x-data="{ open: false }"
    x-show="open"
    x-on:draw-modal.window="$data.open = true"
    x-on:close-draw-modal.window="$data.open = false"
    x-on:keydown.escape.window="$data.open = false"
>
    <div class="modal-backdrop" x-on:click="$data.open = false"></div>
    <div 
        class="simulate-draw w-full"
        hx-get="/partials/deck-manager/simulate-draw?id={{ .ActiveDeckId }}"
        hx-trigger="draw-modal from:window"
        hx-target="#simulate-draw-container"
    >
        <div id="simulate-draw-container"></div>
        <svg id="simulate-draw-spinner" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M256 32C256 14.33 270.3 0 288 0C429.4 0 544 114.6 544 256C544 302.6 531.5 346.4 509.7 384C500.9 399.3 481.3 404.6 465.1 395.7C450.7 386.9 445.5 367.3 454.3 351.1C470.6 323.8 480 291 480 255.1C480 149.1 394 63.1 288 63.1C270.3 63.1 256 49.67 256 31.1V32z"/><path class="fa-secondary" d="M287.1 64C181.1 64 95.1 149.1 95.1 256C95.1 362 181.1 448 287.1 448C358.1 448 419.3 410.5 452.9 354.4L453 354.5C446.1 369.4 451.5 387.3 465.1 395.7C481.3 404.6 500.9 399.3 509.7 384C509.9 383.7 510.1 383.4 510.2 383.1C466.1 460.1 383.1 512 288 512C146.6 512 32 397.4 32 256C32 114.6 146.6 0 288 0C270.3 0 256 14.33 256 32C256 49.67 270.3 64 288 64H287.1z"/></svg>
    </div>
</div>
<div 
    class="modal"
    x-data="{ open: false }"
    x-show="open"
    x-on:card-print-modal.window="$data.open = true"
    x-on:close-card-print-modal.window="$data.open = false"
    x-on:keydown.escape.window="$data.open = false"
>
    <div class="modal-backdrop" x-on:click="$data.open = false"></div>
    <div 
        class="content card-prints"
        hx-get="/partials/deck-manager/{{ .ActiveDeckId }}/prints"
        hx-trigger="card-print-modal from:window"
        hx-target="#card-prints-container"
        hx-vals="js:{cardId: event.detail.cardId}"
    >
        <div id="card-prints-container"></div>
        <svg id="card-prints-spinner" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M256 32C256 14.33 270.3 0 288 0C429.4 0 544 114.6 544 256C544 302.6 531.5 346.4 509.7 384C500.9 399.3 481.3 404.6 465.1 395.7C450.7 386.9 445.5 367.3 454.3 351.1C470.6 323.8 480 291 480 255.1C480 149.1 394 63.1 288 63.1C270.3 63.1 256 49.67 256 31.1V32z"/><path class="fa-secondary" d="M287.1 64C181.1 64 95.1 149.1 95.1 256C95.1 362 181.1 448 287.1 448C358.1 448 419.3 410.5 452.9 354.4L453 354.5C446.1 369.4 451.5 387.3 465.1 395.7C481.3 404.6 500.9 399.3 509.7 384C509.9 383.7 510.1 383.4 510.2 383.1C466.1 460.1 383.1 512 288 512C146.6 512 32 397.4 32 256C32 114.6 146.6 0 288 0C270.3 0 256 14.33 256 32C256 49.67 270.3 64 288 64H287.1z"/></svg>
    </div>
</div>
