decks-page{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: block; 
    background-color: var(--white);

    deck-browser{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
        gap: 2rem;
        padding: 2.25rem 2rem 2rem;
    }

    card-shell{
        aspect-ratio: 12/17;
        border: 1px solid var(--grey-300);
        border-radius: 0.5rem !important;
        background-color: var(--white);
        display: block;
        width: 100%;
        box-shadow: var(--shadow-grey-sm);

        &::after{
            width: calc(100% - 1rem) !important;
            height: calc(100% - 1rem) !important;
            left: 0.5rem !important;
            top: 0.5rem !important;
            border-radius: 0.25rem;
        }
    }

    .deck{
        display: inline-block;
        padding: 1.75rem 2.5rem 1rem;
        background-color: transparent;
        border-radius: 0.5rem;
        transition: all 150ms var(--ease-in-out);

        &:hover,
        &:focus-within,
        &:focus-visible{
            background-color: var(--grey-50);
        }

        &:active{
            background-color: var(--grey-100);
        }

        img{
            filter: drop-shadow(0px 1px 2px hsl(var(--shadow-color) / 0.7));
            width: 100%;
        }
    }
}
