.bttn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid var(--grey-500);
    color: var(--grey-500);
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    transition: all 150ms var(--ease-in-out);
    line-height: 32px;

    &.-green{
        &:hover,
        &:focus-visible{
            border-color: var(--green-400);
            color: var(--green-400);
            background-color: hsl(var(--green-400-hsl) / 0.05);
        }
    }

    &.-yellow{
        &:hover,
        &:focus-visible{
            border-color: var(--yellow-400);
            color: var(--yellow-400);
            background-color: hsl(var(--yellow-400-hsl) / 0.05);
        }
    }

    &.-grey{
        &:hover,
        &:focus-visible{
            border-color: var(--grey-300);
            color: var(--grey-300);
            background-color: hsl(var(--grey-300-hsl) / 0.05);
        }
    }

    svg{
        width: 18px;
        height: 18px;
        margin-right: 0.5rem;
        margin-left: -0.25rem;
    }
}
