header.deck-editor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 128px;
    width: 100%;
    background-color: var(--grey-900);

    &::after{
        content: "";
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, hsl(var(--white-hsl) / 0.3), hsl(var(--white-hsl) / 0.6));
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.2;
    }

    .rarity-counts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        .rarity-tracker{
            height: 32px;
            padding: 0 1rem 0 0.75rem;
            background-color: var(--grey-800);
            border-radius: 0.5rem;
            font-size: var(--font-sm);
            color: var(--grey-200);
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .badge{
                height: 18px;
                border-radius: 9px;
                padding: 0 0.5rem;
                font-weight: var(--font-medium);
                margin-right: 0.75rem;
                background-color: hsl(var(--grey-300-hsl) / 0.05);
                line-height: 18px;

                &.-red{
                    color: var(--red-300);
                    background-color: hsl(var(--red-300-hsl) / 0.05);
                }

                &.-yellow{
                    color: var(--yellow-300);
                    background-color: hsl(var(--yellow-300-hsl) / 0.05);
                }

                &.-blue{
                    color: var(--blue-300);
                    background-color: hsl(var(--blue-300-hsl) / 0.05);
                }
            }
        }
    }

    input{
        font-size: var(--font-xl);
        color: var(--grey-300);
        font-weight: var(--font-medium);
        margin-bottom: 0.5rem;
        height: 2rem;
        border-radius: 0.5rem;
        background: transparent;
        padding: 0 0.5rem;
        border: 2px solid transparent;
        margin-left: -0.75rem;
        transition: all 150ms var(--ease-in-out);
        width: 100%;

        &:hover{
            border-color: var(--grey-500);
        }

        &:focus{
            outline: none;
            border-color: var(--white);
            color: var(--white);
        }
    }

    .art-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(91deg, hsl(var(--grey-900-hsl) / 0.75) 0%, var(--grey-900) 50%);
        }

        img{
            display: inline-block;
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
deck-builder{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 300px;
    padding: 2rem 3rem 3rem;
    gap: 3rem;

    deck-filters{
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;

        .deck-filters-form{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            & > .input{
                position: relative;
                width: 300px;
                margin-right: 1rem;

                &:focus-within{
                    svg{
                        color: var(--grey-100);
                    }
                }

                input{
                    background-color: hsl(var(--grey-900-hsl) / 0.6);
                    height: 42px;
                    font-size: var(--font-sm);
                    color: var(--grey-100);
                    border-radius: 0.5rem;
                    padding: 0 calc(18px + 0.5rem) 0 0.75rem;
                    width: 100%;

                    &::placeholder{
                        color: var(--grey-500);
                    }
                }

                svg{
                    position: absolute;
                    top: 50%;
                    right: 0.5rem;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 18px;
                    color: var(--grey-500);
                    user-select: none;
                    pointer-events: none;
                }
            }

            .filters-bttn{
                &:focus-within{
                    advanced-filters{
                        visibility: visible;
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                & > button{
                    position: relative;
                    margin-right: 1rem;
                    padding: 0 1rem 0 calc(18px + 1rem);
                    background-color: hsl(var(--grey-900-hsl) / 0.6);
                    height: 42px;
                    border-radius: 0.5rem;
                    color: var(--grey-100);
                    font-size: var(--font-sm);

                    &:focus-within{
                        svg{
                            color: var(--grey-100);
                        }
                    }

                    svg{
                        position: absolute;
                        top: 50%;
                        left: 0.75rem;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        color: var(--grey-500);
                        user-select: none;
                        pointer-events: none;
                    }
                }

                advanced-filters{
                    display: inline-block;
                    position: absolute;
                    top: 100%;
                    margin-top: 0.5rem;
                    left: 0;
                    width: 420px;
                    background-color: var(--grey-700);
                    border-radius: 1rem;
                    box-shadow: var(--shadow-black-lg);
                    border: 1px solid var(--grey-600);
                    padding: 1.5rem 2rem 2rem;
                    z-index: 100;
                    visibility: hidden;
                    opacity: 0;
                    pointer-events: none;

                    .select{
                        position: relative;
                        padding: 0 calc(18px + 1rem) 0 0.5rem;
                        background-color: var(--grey-900);
                        height: 36px;
                        border-radius: 0.5rem;
                        border: 1px solid transparent;
                        height: 36px;
                        width: 100%;

                        &:focus-within{
                            outline: none;
                            border-color: var(--yellow-400);
                            background-color: hsl(var(--yellow-400-hsl)/0.05);

                            svg{
                                color: var(--grey-100);
                            }
                        }

                        select{
                            color: var(--grey-100);
                            font-size: var(--font-sm);
                            height: 100%;
                            width: 100%;
                            background: transparent;
                            appearance: none;

                            * {
                                color: var(--grey-100);
                                background-color: var(--grey-800);
                            }
                        }

                        svg{
                            position: absolute;
                            top: 50%;
                            right: 0.5rem;
                            transform: translateY(-50%);
                            width: 18px;
                            height: 18px;
                            color: var(--grey-500);
                            user-select: none;
                            pointer-events: none;
                        }       
                    }

                    .mana-checkbox{
                        position: relative;
                        margin-right: 0.5rem;

                        label{
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: center;
                            width: 32px;
                            height: 32px;
                            border-radius: 0.5rem;
                            border: 1px solid var(--grey-500);
                            transition: all 150ms var(--ease-in-out);
                            background-color: hsl(var(--white-hsl) / 0);
                            cursor: pointer;

                            &:hover,
                            &:focus-visible{
                                border-color: var(--grey-400);
                                background-color: hsl(var(--white-hsl) / 0.05);
                            }

                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }

                        input{
                            opacity: 0;
                            visibility: hidden;
                            position: absolute;

                            &:checked + label{
                                background-color: hsl(var(--yellow-400-hsl)/0.05);
                                border-color: var(--yellow-400);
                            }
                        }
                    }

                    .combox-input{
                        display: block;
                        width: 100%;
                        position: relative;

                        input{
                            padding: 0 calc(1rem + 18px) 0 0.5rem;
                            color: var(--grey-100);
                            background-color: var(--grey-900);
                            font-size: var(--font-sm);
                            border-radius: 0.5rem;
                            border: 1px solid transparent;
                            height: 36px;
                            width: 100%;

                            &:focus{
                                outline: none;
                                border-color: var(--yellow-400);
                                background-color: hsl(var(--yellow-400-hsl)/0.05);

                                & + svg{
                                    color: var(--grey-100);
                                }

                                & ~ dropdown-menu{
                                    opacity: 1;
                                    visibility: visible;
                                    pointer-events: all;
                                }
                            }

                            &::placeholder{
                                color: var(--grey-400);
                            }
                        }

                        & > svg{
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: calc((36px - 18px) / 2);
                            right: 0.75rem;
                            pointer-events: none;
                            user-select: none;
                            color: var(--grey-500);
                        }

                        dropdown-menu{
                            position: absolute;
                            margin-top: 0.5rem;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            background-color: var(--grey-600);
                            border: 1px solid var(--grey-500);
                            border-radius: 0.5rem;
                            box-shadow: var(--shadow-black-sm);
                            max-height: 372px;
                            padding: 0.25rem 0;
                            overflow-y: auto;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            overscroll-behavior: contain;
                            z-index: 110;

                            &:focus-within{
                                opacity: 1;
                                visibility: visible;
                                pointer-events: all;
                            }

                            button{
                                display: block;
                                width: 100%;
                                padding: 0 0.5rem;
                                height: 32px;
                                line-height: 32px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: var(--grey-100);
                                transition: all 150ms var(--ease-in-out);
                                cursor: pointer;
                                user-select: none;
                                text-align: left;

                                &:hover,
                                &:focus-visible{
                                    background-color: hsl(var(--grey-900-hsl) / 0.15);
                                    color: var(--white);
                                }
                            }
                        }

                        .chips{
                            width: 100%;

                            .chip{
                                font-size: var(--font-sm);
                                font-weight: var(--font-medium);
                                color: var(--grey-300);
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                white-space: nowrap;
                                flex-flow: row nowrap;
                                border-radius: 0.5rem;
                                background-color: hsl(var(--grey-900-hsl) / 0.3);
                                padding: 0 0.75rem;
                                cursor: pointer;
                                margin: 0.5rem 0.5rem 0 0;
                                height: 32px;

                                svg{
                                    width: 14px;
                                    height: 14px;
                                    cursor: pointer;
                                    user-select: none;
                                    color: var(--grey-400);
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }

            & > .select{
                position: relative;
                margin-right: 1rem;
                padding: 0 0.75rem 0 calc(18px + 1rem);
                background-color: hsl(var(--grey-900-hsl) / 0.6);
                height: 42px;
                border-radius: 0.5rem;

                &:focus-within{
                    svg{
                        color: var(--grey-100);
                    }
                }

                select{
                    color: var(--grey-100);
                    font-size: var(--font-sm);
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    appearance: none;

                    * {
                        color: var(--grey-100);
                        background-color: var(--grey-800);
                    }
                }

                svg{
                    position: absolute;
                    top: 50%;
                    left: 0.75rem;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 18px;
                    color: var(--grey-500);
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }

    deck-card-browser{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        row-gap: 0.25rem;
        width: 100%;
        min-height: 100%;

        .card{
            position: relative;
            display: inline-block;
            width: 100%;
            aspect-ratio: 19/27;
            box-shadow: var(--shadow-black-md);
            border-radius: 4%;
            cursor: copy;
            user-select: none;

            &:active{
                transform: scale(0.95);
                box-shadow: var(--shadow-black-sm);
                filter: brightness(0.9);
                transition: all 50ms var(--ease-out);
            }

            &.flipped{
                img:last-of-type{
                    opacity: 1 !important;
                }

                button{
                    svg{
                        transform: rotate(180deg);
                    }
                }
            }

            img{
                display: block;
                height: 100%;
                width: 100%;
                transition: opacity 150ms var(--ease-in);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;

                &:last-of-type:not(:only-of-type){
                    opacity: 0;
                    pointer-events: none;
                }
            }

            button{
                width: 48px;
                height: 48px;
                position: absolute;
                top: 25%;
                right: 1rem;
                background-color: hsl(var(--grey-900-hsl) / 0.3);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid hsl(var(--white-hsl) / 0.6);
                color: var(--grey-300);
                cursor: pointer;
                user-select: none;
                z-index: 3;
                transition: all 150ms var(--ease-in-out);

                &:hover,
                &:focus-visible{
                    background-color: hsl(var(--grey-900-hsl) / 0.6);
                    color: var(--white);
                }

                svg{
                    width: 24px;
                    height: 24px;
                    transition: all 300ms var(--ease-bounce);
                }
            }
        }
    }

    deck-tray{
        display: block;
        width: 100%;
        border-radius: 1rem;
        background: linear-gradient(to bottom, var(--grey-800), hsl(var(--grey-900-hsl) / 0.87));
        border: 1px solid hsl(var(--white-hsl) / 0.15);
        overflow: hidden;
        min-height: calc(100vh - 128px - 4rem);
        height: calc(100vh - 128px - 4rem);
        top: 2rem;
        position: sticky;
        overflow-y: auto;
        overscroll-behavior: contain;
        box-shadow: var(--shadow-black-md);

        #deck-tray-spinner{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            transition: all 150ms var(--ease-in-out);
            background-color: hsl(var(--grey-900-hsl) / 0);
            display: none;

            &.htmx-request{
                display: flex;
                animation: bg-fade-in 300ms forwards var(--ease-in);

                svg{
                    width: 32px;
                    height: 32px;
                    color: var(--white);
                    animation: spin 1s linear infinite;
                }
            }
        }

        .card{
            height: 48px;
            width: 100%;
            padding: 0 0.75rem;
            color: var(--grey-200);

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.87;
                background-color: var(--grey-900);
            }

            span{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 200px;
            }

            card-preview{
                width: 24px;
                height: 24px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--grey-400);
                border-radius: 0.5rem;
                background: transparent;
                transition: all 150ms var(--ease-in-out);
                cursor: zoom-in;

                &:hover,
                &:focus-visible{
                    color: var(--white);
                    background-color: hsl(var(--white-hsl) / 0.05);
                }

                svg{
                    width: 18px;
                    height: 18px;
                }
            }

            button{
                width: 24px;
                height: 24px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--red-400);
                border-radius: 0.5rem;
                background: transparent;
                transition: all 150ms var(--ease-in-out);

                &:hover,
                &:focus-visible{
                    color: var(--red-300);
                    background-color: hsl(var(--red-400-hsl) / 0.05);
                }

                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bg-fade-in {
    0% {
        background-color: hsl(var(--grey-900-hsl) / 0);
    }
    100% {
        background-color: hsl(var(--grey-900-hsl) / 0.9);
    }
}
