deck-manager{
    display: block;
    width: 100%;
    position: relative;

    .subnav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;
        height: 3.5rem;
        background-color: hsl(var(--grey-900-hsl) / 0.6);
        padding: 0 3rem;

        .input{
            height: 32px;
            width: 220px;

            input{
                background-color: var(--grey-800);
                border-radius: 0.5rem;
                padding: 0 calc(0.5rem + 18px) 0 0.75rem;
                color: var(--grey-100);
                height: 100%;
                width: 100%;
                font-size: var(--font-sm);

                &:focus{
                    color: var(--grey-100);

                    & + svg{
                        color: var(--grey-100);
                    }
                }

                &::placeholder{
                    color: var(--grey-400);
                }
            }

            svg{
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.5rem;
                color: var(--grey-500);
            }
        }

        .select{
            position: relative;
            margin-right: 1rem;
            padding: 0 0.75rem 0 calc(18px + 1rem);
            background-color: var(--grey-800);
            height: 32px;
            border-radius: 0.5rem;

            &:focus-within{
                svg{
                    color: var(--grey-100);
                }
            }

            select{
                color: var(--grey-100);
                font-size: var(--font-sm);
                width: 100%;
                height: 100%;
                background: transparent;
                appearance: none;

                * {
                    color: var(--grey-100);
                    background-color: var(--grey-800);
                }
            }

            svg{
                position: absolute;
                top: 50%;
                left: 0.75rem;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                color: var(--grey-500);
                user-select: none;
                pointer-events: none;
            }
        }
    }

    card-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
        width: 100%;
        min-height: 100%;
        padding: 3rem;

        .card{
            position: relative;
            display: inline-block;
            width: 100%;

            &.flipped{
                img:last-of-type{
                    opacity: 1 !important;
                }

                button{
                    svg{
                        transform: rotate(180deg);
                    }
                }
            }

            .actions{
                display: flex;
                align-items: center;
                justify-content: end;
                flex-flow: row nowrap;
                margin-top: 0.5rem;

                input{
                    width: 24px;
                    height: 24px;
                    background-color: hsl(var(--white-hsl) / 0.05);
                    border-radius: 0.25rem;
                    font-size: var(--font-sm);
                    color: var(--grey-100);
                    text-align: center;
                    appearance: none;
                    margin-right: 0.25rem;

                    &:last-child{
                        margin-right: 0;
                    }

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                        appearance: none;
                        margin: 0;
                    }
                }

                button{
                    width: 24px;
                    height: 24px;
                    background-color: hsl(var(--white-hsl) / 0);
                    border-radius: 0.25rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--grey-500);
                    margin-right: 0.25rem;
                    transition: all 150ms var(--ease-in-out);

                    &:last-child{
                        margin-right: 0;
                    }

                    &:hover,
                    &:focus-visible{
                        color: var(--grey-100);
                        background-color: hsl(var(--white-hsl) / 0.05);
                    }

                    &.-commander{
                        &.active{
                            color: var(--yellow-400);

                            &:hover,
                            &:focus-visible{
                                background-color: hsl(var(--yellow-400-hsl) / 0.05);
                            }
                        }
                    }

                    &.-delete{
                        &:hover,
                        &:focus-visible{
                            color: var(--red-400);
                            background-color: hsl(var(--red-400-hsl) / 0.05);
                        }
                    }

                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            .container{
                box-shadow: var(--shadow-black-md);
                border-radius: 4%;
                user-select: none;
                width: 100%;
                aspect-ratio: 19/27;

                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: opacity 300ms var(--ease-in);
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:last-of-type:not(:only-of-type){
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                button{
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 25%;
                    right: 1rem;
                    background-color: hsl(var(--grey-900-hsl) / 0.3);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid hsl(var(--white-hsl) / 0.6);
                    color: var(--grey-300);
                    cursor: pointer;
                    user-select: none;
                    z-index: 3;
                    transition: all 150ms var(--ease-in-out);

                    &:hover,
                    &:focus-visible{
                        background-color: hsl(var(--grey-900-hsl) / 0.6);
                        color: var(--white);
                    }

                    svg{
                        width: 24px;
                        height: 24px;
                        transition: all 300ms var(--ease-bounce);
                    }
                }
            }
        }
    }
}
