.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    .modal-backdrop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsl(var(--grey-900-hsl) / 0.87);
    }

    .content{
        display: block;
        background-color: var(--grey-800);
        border-radius: 1rem;
        border: 1px solid var(--grey-700);
        padding: 1rem;
        box-shadow: var(--shadow-black-lg);

        .actions{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: hsl(var(--grey-900-hsl)/0.3);
            border-radius: 0.75rem;
            padding: 0 0.5rem;
            height: 48px;
            width: 100%;
            margin-top: 1rem;
        }
    }
}

.modal .content.quick-add{
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 2rem);

    .cards-placeholder{
        aspect-ratio: 4/3;
        display: grid;
        place-items: center;
    }

    .quick-card-grid{
        width: 100%;
        height: calc(100% - 32px - 2.5rem);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
        aspect-ratio: 4/3;
        overflow-y: auto;
        padding: 1rem;

        .card{
            position: relative;
            display: inline-block;
            width: 100%;
            aspect-ratio: 19/27;
            box-shadow: var(--shadow-black-md);
            border-radius: 4%;
            cursor: copy;
            user-select: none;

            &:active{
                transform: scale(0.95);
                box-shadow: var(--shadow-black-sm);
                filter: brightness(0.9);
                transition: all 50ms var(--ease-out);
            }

            &.flipped{
                img:last-of-type{
                    opacity: 1 !important;
                }

                button{
                    svg{
                        transform: rotate(180deg);
                    }
                }
            }

            img{
                display: block;
                height: 100%;
                width: 100%;
                transition: opacity 300ms var(--ease-in);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;

                &:last-of-type:not(:only-of-type){
                    opacity: 0;
                    pointer-events: none;
                }
            }

            button{
                width: 48px;
                height: 48px;
                position: absolute;
                top: 25%;
                right: 1rem;
                background-color: hsl(var(--grey-900-hsl) / 0.3);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid hsl(var(--white-hsl) / 0.6);
                color: var(--grey-300);
                cursor: pointer;
                user-select: none;
                z-index: 3;
                transition: all 150ms var(--ease-in-out);

                &:hover,
                &:focus-visible{
                    background-color: hsl(var(--grey-900-hsl) / 0.6);
                    color: var(--white);
                }

                svg{
                    width: 24px;
                    height: 24px;
                    transition: all 300ms var(--ease-bounce);
                }
            }
        }
    }

    .input{
        height: 32px;
        width: 100%;
        margin-bottom: 1rem;

        input{
            background-color: var(--grey-900);
            border-radius: 0.5rem;
            padding: 0 calc(0.5rem + 18px) 0 0.75rem;
            color: var(--grey-100);
            height: 100%;
            width: 100%;
            font-size: var(--font-sm);
            border: 1px solid var(--grey-900);

            &:focus{
                color: var(--grey-100);
                background-color: hsl(var(--yellow-400-hsl)/0.05);
                border-color: var(--yellow-400);

                & + svg{
                    color: var(--yellow-400);
                }
            }

            &::placeholder{
                color: var(--grey-400);
            }
        }

        svg{
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
            color: var(--grey-500);
        }
    }
}

.modal .simulate-draw{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &.htmx-request{
        #simulate-draw-container{
            display: none;
        }

        #simulate-draw-spinner{
            display: flex;
        }
    }

    #simulate-draw-container{
        pointer-events: all;
    }

    #simulate-draw-spinner{
        display: none;
        width: 48px;
        height: 48px;
        color: var(--white);
        animation: spin 1s linear infinite;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: all 150ms var(--ease-in-out);
        background-color: hsl(var(--grey-900-hsl) / 0);
        display: none;
    }

}

.modal .card-prints{
    height: 100%;
    width: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &.htmx-request{
        #card-prints-container{
            display: none;
        }

        #card-prints-spinner{
            display: flex;
        }
    }

    #card-prints-container{
        pointer-events: all;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .card-print-grid{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 1rem;
            padding: 1rem;

            .card{
                position: relative;
                display: inline-block;
                width: 100%;
                aspect-ratio: 19/27;
                box-shadow: var(--shadow-black-md);
                border-radius: 4%;
                cursor: pointer;
                user-select: none;

                &:active{
                    transform: scale(0.95);
                    box-shadow: var(--shadow-black-sm);
                    filter: brightness(0.9);
                    transition: all 50ms var(--ease-out);
                }

                &.flipped{
                    img:last-of-type{
                        opacity: 1 !important;
                    }

                    button{
                        svg{
                            transform: rotate(180deg);
                        }
                    }
                }

                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: opacity 300ms var(--ease-in);
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:last-of-type:not(:only-of-type){
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                button{
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 25%;
                    right: 1rem;
                    background-color: hsl(var(--grey-900-hsl) / 0.3);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid hsl(var(--white-hsl) / 0.6);
                    color: var(--grey-300);
                    cursor: pointer;
                    user-select: none;
                    z-index: 3;
                    transition: all 150ms var(--ease-in-out);

                    &:hover,
                    &:focus-visible{
                        background-color: hsl(var(--grey-900-hsl) / 0.6);
                        color: var(--white);
                    }

                    svg{
                        width: 24px;
                        height: 24px;
                        transition: all 300ms var(--ease-bounce);
                    }
                }
            }
        }
    }

    #card-prints-spinner{
        display: none;
        width: 48px;
        height: 48px;
        color: var(--white);
        animation: spin 1s linear infinite;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: all 150ms var(--ease-in-out);
        background-color: hsl(var(--grey-900-hsl) / 0);
        display: none;
    }

}

.modal .sleeves{
    height: 100%;
    width: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &.htmx-request{
        #sleeves-container{
            display: none;
        }

        #sleeves-spinner{
            display: flex;
        }
    }

    #sleeves-container{
        pointer-events: all;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .upload-image-button{
            display: inline-block;
            border-radius: 0.5rem;
            position: relative;
            border: 1px solid var(--grey-200);
            aspect-ratio: 19/27;
            user-select: none;
            transition: all 150ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                border-color: var(--grey-700);
            }

            &:hover{
                border-color: var(--grey-300);
            }

            &:active{
                border-color: var(--primary-400);
                box-shadow: var(--active-ring);
                background-color: var(--white);

                @media (prefers-color-scheme: dark) {
                    background-color: hsl(var(--white-hsl) / 0.1);
                }
            }

            &:focus-visible{
                box-shadow: var(--focus-ring);
            }

            label{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;
                font-size: var(--font-xs);
                color: var(--grey-700);
                width: 100%;
                height: 100%;
                cursor: pointer;

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-300);
                }
            }

            svg{
                color: var(--grey-600);
                display: block;
                width: 20px;
                height: 20px;
                margin-bottom: 0.5rem;

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-500);
                }
            }

            input{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
            }
        }

        .sleeves-grid{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 1rem;
            padding: 1rem;

            .card{
                position: relative;
                display: inline-block;
                width: 100%;
                aspect-ratio: 19/27;
                box-shadow: var(--shadow-black-md);
                border-radius: 4%;
                cursor: pointer;
                user-select: none;

                &:active{
                    transform: scale(0.95);
                    box-shadow: var(--shadow-black-sm);
                    filter: brightness(0.9);
                    transition: all 50ms var(--ease-out);
                }

                &.selected {
                    animation: focusPulse 1.5s var(--ease-in-out) infinite;
                    border-radius: 0;
                }

                img {
                    opacity: 0;
                }

                img,
                video{
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: opacity 300ms var(--ease-in);
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;

                    &:last-of-type:not(:only-of-type){
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    #sleeves-spinner{
        display: none;
        width: 48px;
        height: 48px;
        color: var(--white);
        animation: spin 1s linear infinite;
        position: absolute;
        align-items: center;
        justify-content: center;
        transition: all 150ms var(--ease-in-out);
        background-color: hsl(var(--grey-900-hsl) / 0);
        display: none;
    }

}

@keyframes focusPulse {
    0% {
        box-shadow: 0 0 0 3px hsl(var(--yellow-400-hsl) / 0.3)
    }
    50% {
        box-shadow: 0 0 0 8px hsl(var(--yellow-400-hsl) / 0.87)
    }
    100% {
        box-shadow: 0 0 0 3px hsl(var(--yellow-400-hsl) / 0.3)
    }
}
