tool-tip {
    background-color: var(--grey-900);
    color: var(--grey-300);
    border-radius: 0.5rem;
    line-height: 22px;
    height: 24px;
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: var(--font-xs);
    font-weight: var(--font-medium);
    box-shadow: var(--shadow-black-sm);
    pointer-events: none;
    transform-origin: center;
    display: inline-block;
    user-select: none;
    border: 1px solid var(--grey-800);
}
