edit-deck-page{
    display: block;
    width: 100%;
    position: relative;

    deck-builder{
        width: 100%;
        display: grid;
        gap: 2rem;
        padding: 2rem;
        grid-template-columns: 1fr 300px;
    }
}
